<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoma.code.dao.FileInfoDao">

    <insert id="addFileInfo">
        insert into file_list (
            file_id, file_md5, file_path, file_name, file_size, create_time, update_time
        ) values (
            #{fileId}, #{fileMd5}, #{filePath}, #{fileName}, #{fileSize}, #{createTime}, #{updateTime}
        )
    </insert>

    <delete id="deleteFileInfo">
        delete from file_list where file_path = #{filePath} and file_name = #{fileName}
    </delete>
</mapper>